<!DOCTYPE html>
<html>

<head>
	<title>MP_Teleop</title>
	<script type="text/javascript"
		src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
	<script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
	<script src="{{url_for('static', filename='js/button.js')}}" ></script>
	<script src="{{url_for('static', filename='js/keyboard.js')}}" ></script>
</head>
<style>
	.button {
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
</style>

<body>

	<h1>MiniPupper Controller</h1>
	<p></p>

	<div id="main_movement" style="height:200px;width:100px;float:left;">
		<table border="9" frame=void rules=none>
			<tr>
				<td><button onmousedown="btnLup()" onmouseup="btnLup_cancel()">&#8598;</button></td>
				<td><button onmousedown="btnup()" onmouseup="btnup_cancel()">&uarr;</button></td>
				<td><button onmousedown="btnRup()" onmouseup="btnRup_cancel()">&#8599;</button></td>
			<tr>
				<td><button onmousedown="btnleft()" onmouseup="btnleft_cancel()">&larr;</button></td>
				<td></td>
				<td><button onmousedown="btnright()" onmouseup="btnright_cancel()">&rarr;</button></td>
			<tr>
				<td><button onmousedown="btnLup()" onmouseup="btnLdown_cancel()">&#8601;</button></td>
				<td><button onmousedown="btndown()" onmouseup="btndown_cancel()">&darr;</button></td>
				<td><button onmousedown="btnRup()" onmouseup="btnRdown_cancel()">&#8600;</button></td>
	</div>

	<div id="statusIndicator">
		<p id="connecting">
			Connecting to rosbridge...
		</p>
		<p id="connected" style="color:#00D600; display:none">
			Connected
		</p>
		<p id="error" style="color:#FF0000; display:none">
			Error in the backend!
		</p>
		<p id="closed" style="display:none">
			Connection closed.
		</p>
	</div>
</body>

</html>
